html, body {
    text-align: center;
    background-color: #7678ed;
    margin: 20px 10px 10px;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

button {
    font-weight: bold;
}

.header {
    color: #f7b801;
}

#game-button {
    position: relative;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    font-size: 24px;
    color: white;
}

#game-screen {
    /* background-color: aliceblue; */
    margin: 20px auto;
    text-align: center;
    height: calc(100vh - 12rem);
    width: calc(100vw - 0.5rem);
}